.password-requirements {
  margin-top: 3px;

  color: var(--text-secondary);

  font-size: 12px;
}

.password-requirements p {
  margin: 0 0 7px;

  color: var(--text-secondary);

  font-weight: 600;
}

.password-requirements ul {
  display: flex;
  flex-direction: column;

  gap: 5px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.password-requirement {
  display: flex;
  align-items: center;

  gap: 7px;

  color: var(--text-secondary);
}

.password-requirement svg {
  flex-shrink: 0;
}

.password-requirement.valid {
  color: var(--accent);
}
